# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
dist-ssr/
stats.html

# environment
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# cache
.eslintcache
.cache/
*.tsbuildinfo

# vercel
.vercel
